html, body {
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

section header {
  width: 100%;
  height: 60px;
  background: #5ea658; }
  section header .btn {
    display: block;
    padding: 22px 30px;
    font-size: .875em;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer; }
  section header .btn:hover {
    background: #58a24d; }
  section header .btn.left:active {
    background: #58a24d;
    -moz-box-shadow: inset -1px -2px 5px #429647;
    -webkit-box-shadow: inset -1px -2px 5px #429647;
    box-shadow: inset -1px -2px 5px #429647; }
  section header .btn.right:active {
    background: #58a24d;
    -moz-box-shadow: inset 1px -2px 5px #429647;
    -webkit-box-shadow: inset 1px -2px 5px #429647;
    box-shadow: inset 1px -2px 5px #429647; }
  section header .btn.left {
    border-right: 1px solid #4c9247;
    float: left; }
  section header .btn.right {
    border-left: 1px solid #4c9247;
    float: right; }

.container.header {
  background: #6db768;
  border-top: 1px solid #4c9247;
  position: relative;
  z-index: 1000; }
  .container.header h1 {
    width: 478px;
    height: 149px;
    background: url("../images/logo.png") no-repeat center center;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    max-width: 85%;
    padding: 60px 0; }

.tagline {
  -webkit-box-shadow: 0 -2px 6px 4px #c8c8c8;
  -moz-box-shadow: 0 -2px 6px 4px #c8c8c8;
  box-shadow: 0 -2px 6px 4px #c8c8c8;
  overflow: auto;
  z-index: 10;
  position: relative; }
  .tagline h2 {
    font-size: 1.125em;
    color: #9c9c9c;
    text-align: center;
    margin: 1.0625em 0; }

ul.list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto; }
  ul.list h3 {
    font-size: 2.1em;
    color: #909090;
    background: #f1f0f0;
    margin: 0;
    text-align: center;
    padding: 6px 0; }
  ul.list ul {
    width: 680px;
    padding: 0;
    list-style: none;
    margin: 0 auto; }
    ul.list ul li {
      color: #656565;
      font-size: 1.375em;
      margin: 1em 0;
      padding: 0 10px; }
      ul.list ul li a {
        color: #656565; }

#blank {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  z-index: 1500;
  display: none;
  opacity: 0; }

.highlight {
  background: #85d480;
  padding: 0.1em 0.2em;
  text-transform: none;
  font-style: normal;
  color: #191919; }

#messages {
  width: 680px;
  position: absolute;
  z-index: 2000;
  left: 50%;
  margin-left: -340px; }
  #messages .closebutton {
    position: absolute;
    right: 16px;
    top: 0px;
    font-size: 44px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    cursor: pointer; }
  #messages #about {
    top: -1000px; }
  #messages #joinus {
    top: -1000px; }
  #messages .message {
    width: 680px;
    position: absolute;
    display: block;
    background: #fff;
    -webkit-box-shadow: 0 0px 6px 1px #4a4a4a;
    -moz-box-shadow: 0 0px 6px 1px #4a4a4a;
    box-shadow: 0 0px 6px 1px #4a4a4a;
    border-radius: 2px;
    padding: 20px;
    font-size: 1.125em;
    color: #656565;
    font-weight: 400;
    -webkit-transform: perspective(0) translate3d(0px, 0px, 0);
    -moz-transform: perspective(0) translate3d(0px, 0px, 0);
    -ms-transform: perspective(0) translate3d(0px, 0px, 0);
    -o-transform: perspective(0) translate3d(0px, 0px, 0);
    transform: perspective(0) translate3d(0px, 0px, 0);
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
    #messages .message h3 {
      margin: 0;
      color: #656565;
      font-weight: 400; }
    #messages .message a {
      color: #191919; }
  #messages .message.move {
    -webkit-transform: perspective(0) translate3d(0px, 970px, 0);
    -moz-transform: perspective(0) translate3d(0px, 970px, 0);
    -ms-transform: perspective(0) translate3d(0px, 970px, 0);
    -o-transform: perspective(0) translate3d(0px, 970px, 0);
    transform: perspective(0) translate3d(0px, 970px, 0);
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  #messages .highlight.apply {
    cursor: pointer; }
  #messages .highlight.apply:hover {
    text-decoration: underline; }
